body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: lightgray
}

nav {
  background: #34495e;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}

nav button {
  margin-left: auto;
  cursor: pointer;
  background: blueviolet;
  color: black;
  border: none;
  border-radius: 4px;
}

.container {
  padding: 2rem;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea, button {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;

}

.card {
  background: #ecf0f1;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}


.container-predictor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;
}